<div class="main-nav-container" [ngSwitch]="isLoggedIn">
  <nav class="navbar navbar-dark bg-dark bg bg-gradient">
    <div class="icons-container">
      <img class="toggle-button" src="main/assets/icons/home2.png" (click)="toggleNav()">
      <img class="icon" src="main/assets/icons/weatherApp.png" [routerLink]="''">
    </div>
    <div class="nav-buttons-container">
      <a [routerLink]="''" class="nav-button"><img class="nav-icon icon" src="main/assets/icons/home.png">Home</a>
      <div class="d-flex align-items-center" *ngSwitchCase="false">
      <a [routerLink]="'login'" class="nav-button"><img class="nav-icon icon" src="main/assets/icons/login.png">Login</a>
      <a [routerLink]="'register'" class="nav-button"><img class="nav-icon icon" src="main/assets/icons/register.png">Register</a>
      </div>
      <div class="d-flex align-items-center" *ngSwitchCase="true">
        <div class="d-flex flex-column">
      <p>Logged in as</p>
      <p><strong>{{ username }}</strong></p>
        </div>
      <a class="nav-button" (click)="logout()"><img class="nav-icon icon" src="main/assets/icons/logout.png">Logout</a>
      </div>
    </div>
  </nav>
<div class="side-nav">
  <div class="side-nav-content bg-dark">
    <p class="side-nav-title">WeatherApp</p>
    <div *ngSwitchCase="true">
    <a class="side-nav-button mb-3" [routerLink]="'profile'" (click)="toggleNav()">Profile</a>
    <a class="side-nav-button mb-3" [routerLink]="'weather-app'" (click)="toggleNav()">WeatherApp</a>
    <a class="side-nav-button mb-3" [routerLink]="'forecasts'" (click)="toggleNav()">Forecasts</a>
    </div>
    <div *ngSwitchCase="false">
      <p class="mt-5" style="font-size: 16px">Sign in for more features!</p>
    </div>
  </div>
</div>
  <div class="content">
    <ng-content></ng-content>
  </div>

  <footer class="footer bg-gradient bg-dark">
    <div class="social-icon-container">
      <a href="https://github.com/MarekSaw/WeatherApp" target="_blank"><img class="social-icon github" src="main/assets/icons/github.png" alt="Github"></a>
      <a href="https://www.linkedin.com/in/marek-sawicki-a988951b9" target="_blank"><img class="social-icon" src="main/assets/icons/linkedin.png" alt="LinkedIn"></a>
    </div>
    <div class="links-container">
      <a [routerLink]="'home'" class="footer-link">Home</a>
      <a [routerLink]="'about'" class="footer-link">About</a>
      <a [routerLink]="'contact'" class="footer-link">Contact</a>
    </div>
    <p class="copyright">Copyright @2021 | Created by&nbsp;<a href="https://github.com/MarekSaw" target="_blank">Marek Sawicki</a></p>
  </footer>

</div>
