<div class="content">
  <div class="app-content">
    <div class="container">
      <h1 class="mb-4">Register now</h1>
      <div class="col-md-12">
        <form class="flex-column d-flex align-items-center"
              *ngIf="!isSuccessful"
              [formGroup]="registerGroup"
              (ngSubmit)="onSubmit()">
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="username" formControlName="username" (input)="checkForm()"/>
            <label for="username">Username</label>
            <div class="invalid-tooltip">
              <div>Username must contains from 4 to 20 characters</div>
            </div>
          </div>
          <div class="form-floating mb-3">
            <input type="email" class="form-control" id="email" formControlName="email" (input)="checkForm()"/>
            <label for="email">Email</label>
            <div class="invalid-tooltip">
              <div>Email is invalid, ex: example@domain.com</div>
            </div>
          </div>
          <div class="form-floating mb-3">
            <input type="password" class="form-control" id="password" formControlName="password" (input)="checkForm()"/>
            <label for="password">Password</label>
            <div class="invalid-tooltip">
              <div>Password must be at least 8 characters long and must contains at least:</div>
              <ul>
                <li>one upper case letter,</li>
                <li>one lower case letter,</li>
                <li>one numeric value,</li>
                <li>one special character - {{'{'}}#?!@$%^&*-.,_{{'}'}}.</li>
              </ul>
            </div>
          </div>
          <div class="form-floating mb-3">
            <input type="password" class="form-control" id="passwordConfirm" formControlName="passwordConfirm" (input)="checkForm()"/>
            <label for="passwordConfirm">Confirm password</label>
            <div class="invalid-tooltip">
              <div>Confirm password must match the password</div>
            </div>
          </div>

          <button class="btn btn-primary w-50 mt-2">Sign Up</button>

          <div class="alert alert-warning" *ngIf="isRegisterFailed">
            Signup failed!<br/>{{ errorMessage }}
          </div>
        </form>

        <div class="alert alert-success" *ngIf="isSuccessful">
          Your registration is successful!
        </div>
      </div>
    </div>
  </div>
</div>
