<div class="content">

  <div class="container">
    <h4 class="d-flex justify-content-center mb-5">You can find me on:</h4>
    <div class="row">
      <div class="col">
        <div class="icon-container">
          <img src="main/assets/icons/linkedin.png" alt="LinkedIn" class="icon">
          <a class="link" href="https://www.linkedin.com/in/marek-sawicki-a988951b9" target="_blank">>> LinkedIn <<</a>
        </div>
      </div>

      <div class="col">
        <div class="icon-container">
          <img src="main/assets/icons/github.png" alt="Github" class="icon">
          <a class="link" href="https://github.com/MarekSaw" target="_blank">>> Github <<</a>
        </div>
      </div>

      <div class="col">
        <div class="icon-container">
          <img src="main/assets/icons/gmail.png" alt="Gmail" class="icon">
          <p>Or send me an email: <strong>marek.ms.sawicki@gmail.com</strong></p>
        </div>
      </div>
    </div>
  </div>

</div>

