<div class="content">
  <div class="app-content">
    <div class="container">

      <div class="col-md-12">
        <form class="flex-column d-flex align-items-center"
          *ngIf="!isLoggedIn"
          [formGroup]="loginGroup"
          (ngSubmit)="onSubmit()">
          <div class="d-flex flex-row align-items-center">
          <img class="m-2" src="main/assets/icons/login.png" alt="">
          <h1 class="m-2">Login</h1>
          </div>
          <div class="form-floating mb-3 mt-3">
            <input type="text" class="form-control" id="username" formControlName="username" (input)="checkForm()"/>
            <label for="username">Username</label>
            <div class="invalid-tooltip">
              Username is required!
            </div>
          </div>

          <div class="form-floating mb-3">
            <input type="password" class="form-control" id="password" formControlName="password" (input)="checkForm()"/>
            <label for="password">Password</label>
            <div class="invalid-tooltip">
              Password is required
            </div>
          </div>

          <button class="btn btn-primary w-50 mt-3" type="submit">Sign In</button>

          <div id="errorToast" class="toast align-items-center text-white bg-danger border-0" role="alert"
               aria-live="assertive" aria-atomic="true">
            <div class="d-flex justify-content-center">
              <div class="toast-body">
                <div class="d-flex justify-content-center">Signup failed!</div>
                <div>Invalid username or password</div>
              </div>
            </div>
          </div>
        </form>

        <div class="alert alert-success" *ngIf="isLoggedIn">
          Logged in as {{ username }}.
        </div>
      </div>
    </div>

  </div>
</div>
