<div class="content">
  <div class="app-content">
    <div class="welcome-container">
      <h1>Welcome to WeatherApp</h1>
      <p>Be aware of weather conditions up to date with <strong>WeatherApp</strong>.</p>
      <p>Check forecast in chosen location for tomorrow.</p>
      <p>Sign up for more!</p>


      <form class="row g-3 mb-3 mt-3 min-vw-50 align-items-center" [formGroup]="firstFormGroup"
            (ngSubmit)="findWeather(cityFormControl.value, latitudeFormControl.value, longitudeFormControl.value)">

        <div class="col" *ngIf="isCity">
          <div class="form-floating">
            <input type="text" class="form-control" id="city" [formControl]="cityFormControl"
            [classList]="cityFormControl.hasError('pattern') ? 'form-control is-invalid' : 'form-control'">
            <label for="city">City name</label>
            <div class="invalid-tooltip">
              Please enter valid city's name.
            </div>
          </div>
        </div>

        <div class="col" *ngIf="!isCity">
          <div class="row mb-3 col">
            <div class="form-floating">
              <input type="number" class="form-control" id="latitude" [formControl]="latitudeFormControl"
                     [classList]="latitudeFormControl.hasError('pattern') ? 'form-control is-invalid' : 'form-control'">
              <label for="latitude">&emsp;Latitude</label>
              <div class="invalid-tooltip">
                Value should be in range (-90 : 90) with max 6 decimal digits.
              </div>
            </div>
          </div>
          <div class="row col">
            <div class="form-floating">
              <input type="number" class="form-control" id="longitude" [formControl]="longitudeFormControl"
                     [classList]="longitudeFormControl.hasError('pattern') ? 'form-control is-invalid' : 'form-control'">
              <label for="longitude">&emsp;Longitude</label>
              <div class="invalid-tooltip">
                Value should be in range (-180 : 180) with max 6 decimal digits.
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="form-floating">
            <select class="select form-select" id="typeSelect">
              <option value="1">City</option>
              <option value="2">Location</option>
            </select>
            <label for="typeSelect">Check for...</label>
          </div>
        </div>
        <div class="col-sm-2">
          <button type="submit" class="btn btn-primary"
                  [disabled]="!cityFormControl.valid && isCity || !(latitudeFormControl.valid && longitudeFormControl.valid) && !isCity">
            Check</button>
        </div>
      </form>

      <div class="loading-spinner">
        <div class="spinner-border" role="status" *ngIf="isSpinnerLoadingEnabled">
        </div>
      </div>

      <div class="modal fade" id="weatherParameters" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Weather parameters for <strong>{{weatherLocation}}</strong>:
              </h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <table class="table">
                <thead>
                <tr>
                  <th scope="col">Parameter</th>
                  <th scope="col">Value</th>
                  <th scope="col">Unit</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <th scope="row">Temperature</th>
                  <td>{{weatherParametersModal.temperature.toFixed(2)}}</td>
                  <td>&deg;C</td>
                </tr>
                <tr>
                  <th scope="row">Pressure</th>
                  <td>{{weatherParametersModal.pressure.toFixed(2)}}</td>
                  <td>hPa</td>
                </tr>
                <tr>
                  <th scope="row">Humidity</th>
                  <td>{{weatherParametersModal.humidity.toFixed(0)}}</td>
                  <td>%</td>
                </tr>
                <tr>
                  <th scope="row">Wind speed</th>
                  <td>{{(weatherParametersModal.windSpeed * 10 / 36).toFixed(2)}}</td>
                  <td>km/h</td>
                </tr>
                <tr>
                  <th scope="row">Wind direction</th>
                  <td>{{weatherParametersModal.windDeg.toFixed(0)}}</td>
                  <td>&deg;</td>
                </tr>
                </tbody>
              </table>

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="errorModal" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <h5 class="btn-danger fw-bold p-2">Forecast not found for given location:</h5>
              <p>Make sure you entered valid city name or correct coordinates values.</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
